@import "tailwindcss";

@theme {
  --color-gold: #e6c36a;
  --color-dark: #0f172a;
  --color-panel: #111827;
}

body {
  background-color: #e5e7eb;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior: none;
}

body {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
.app-shell {
  max-width: 420px;
  height: 100vh;
  margin: 0 auto;
  background: var(--color-dark);
  overflow-y: auto;
}


